<!DOCTYPE html>
<html ng-app="tungv">
<head>
    <meta charset="utf-8">
    <title>Vũ Việt Tùng - JavaScript Specialist</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/lodash.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body ng-controller="mainCtrl">
    <header>
        <h1>Vũ Việt Tùng</h1>
        <span>JavaScript Specialist</span>
    </header>

    <div id="main">
        <section id="skills">
            <h2>Skills</h2>
            <h3>Technical Skills</h3>
            <ul id="technical-skills" class="clearfix">
                <li ng-repeat="category in skills">
                    <ul class="clearfix">
                        <li class="skill-item skill-group-{{skill.category}}" ng-repeat="skill in category">
                            <span class="skill-name">{{ skill.name }}</span>
                            <span class="skill-since">{{ skill.since }}</span>
                            <span class="skill-level star-{{skill.level}}"></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>

        <section id="experience">
            <h2>Experience</h2>
            <h3>Past Projects</h3>
            <ul id="projects" class="clearfix">
                <li class="project" ng-repeat="project in projects">
                    <span class="project-employer">{{ project.employer }}</span>
                    <span class="project-timeline">{{ project.from }} &mdash; {{ project.to }}</span>
                    <span class="project-description" ng-bind-html-unsafe="project.description"></span>
                    <span class="project-link" ng-show="{{project.link !== ''}}">
                        <a href="{{project.link}}">{{project.link}}</a>
                    </span>
                    <span class="project-role">
                        <span ng-repeat="role in project.roles">
                            <b class="entypo-user"></b> {{role}}
                        </span>
                    </span>
                    <hr>
                    <span class="project-technology">
                        <span ng-repeat="tech in project.tech">
                            <b class="entypo-tools"></b> {{tech}}
                        </span>
                    </span>
                </li>
            </ul>
        </section>

        <section id="education">
            <h2>Education</h2>
            <h3>Schools &amp; Institutes</h3>
            <table id="schools">
                <tbody>
                <tr ng-repeat="school in schools">
                    <td class="school-name">
                        <strong>{{ school.name }}</strong>
                        <em>{{ school.from }} &mdash; {{ school.to }}</em>
                    </td>
                    <td class="school-degree">
                        {{ school.degree }}
                    </td>
                    <td class="school-highlight">
                        <ul>
                            <li ng-repeat="highlight in school.highlights">
                                {{ highlight }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>